Package: com.joshua.springtweaked
Name: Springtweaked
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Joshua Wheeler
Author: Joshua Wheeler
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
